

$primary-color: #1b0b3b; 
$secondary-color: #8263ff;
$text-color-light: #ffffff;
$primary-color-btn: #8263ff; 


/*
$color-primary: #7658F7;
$color-secondary: #2c1652;
$color-text: #2b1c50;
$color-text-light: #4a4a4a;
$color-background: #ffffff;
$color-border: #e5e5e5;
$max-width: 1280px;
$border-radius: 8px;
*/




